/* CSS files add styling rules to your content */

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  
  /*border: 10px solid black; */
  
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h6 {
  align-items: left;
  font-family: helvetica, arial, sans-serif;
  justify-content: left;
}

p {
  margin: 30px;
}